table {
    thead {
        th:hover {
            background-color: #ddd;
            cursor: pointer;
            user-select: none;
        }
    }
    tbody {
        td:hover {
            user-select: none;
        }
    }
}
