<div class="row">
<input (keyup)="onChangePhrase($event)" class="form-control mb-3" type="text" placeholder="Search in name...">
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th (click)="onColumnSelect('id')">#</th>
                    <th (click)="onColumnSelect('name')">Name</th>
                    <th (click)="onColumnSelect('superPower')">Superpower</th>
                    <th (click)="onColumnSelect('address')">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hero of heroList | filter:phrase:'name' | sorter:columnKey">
                    <td>{{ hero.id }}</td>
                    <td>{{ hero.name }}</td>
                    <td>{{ hero.superPower }}</td>
                    <td>{{ hero.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
